<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-center">
    <span class="text-white">&copy; PinoyCampground 2025 | Developed by <a href="https://ash.com" class="text-white text-decoration-underline">John Ashley Torio</a></span>
  </div>
</footer>

