<footer class="footer py-3 mt-5">
  <div class="container text-center">
    <span class=" d-block">
      &copy; <%=new Date().getFullYear() %> PinoyCampground. All rights reserved.
    </span>
    <span class=" d-block">
      Developed by 
      <a href="https://jatorio20.github.io/Portfolio/" class="footer-text text-decoration-underline">John Ashley Torio</a>
      <!-- <a href="https://ash.com" class="footer-text text-decoration-underline">John Ashley Torio</a> -->
    </span>
    <div class="container mt-3">
      <span> <b>References: </b> </span>

      <div class="row">
        <div class="col-12"><p>Dave Hoefler (https://unsplash.com/), Katerina Limpitsouni (https://undraw.co/)</p></div>
      </div>

    </div>
  </div>


</footer>


