<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <div class="container-fluid">
    <!-- <img src="/images/tent.png" alt="" class="logoNavbar"> -->
    <a class="navbar-brand" href="#">PinoyCampground</a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
      <!-- LEFT SIDE -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
        </li>
      </ul>

      <!-- <form action="/campgrounds" method="GET" class="d-flex mb-3">
        <input type="text" name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->



      <!-- RIGHT SIDE -->
      <% if (!currentUser) { %>
        <ul class="navbar-nav ms-auto">

        <!-- Dark Mode Toggle -->
            <div class=" d-flex align-items-center ">
                <input class="form-check-input visually-hidden" type="checkbox" id="darkModeSwitch">
                <label for="darkModeSwitch" class="custom-switch ">
                    <i class="bi bi-sun-fill sun-icon"></i>
                    <i class="bi bi-moon-stars moon-icon"></i>
                </label>
            </div>

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>

      <% } else { %>
        <ul class="navbar-nav ms-auto">
        <!-- Dark Mode Toggle -->
            <div class=" d-flex align-items-center ">
                <input class="form-check-input visually-hidden" type="checkbox" id="darkModeSwitch">
                <label for="darkModeSwitch" class="custom-switch ">
                    <i class="bi bi-sun-fill sun-icon"></i>
                    <i class="bi bi-moon-stars moon-icon"></i>
                </label>
            </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= currentUser.avatar.url || '/images/default-profile-icon.png' %>"
                class="rounded-circle uploadAvatarImg" >
            </a>
            <ul class="dropdown-menu custom-dropdown p-3 dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              
              <li>
                <div>
                  <img src="<%= currentUser.avatar.url || '/images/default-profile-icon.png' %>"
                  class="rounded-circle border border-1 uploadAvatarImg" >
                  <span class="text-muted">@<%=currentUser.username %></span>
                </div>
              </li>

              <hr>

              <li>
                <form action="/avatar" method="POST" enctype="multipart/form-data">
                  <div class="input-group">
                    <input type="file" name="avatar" class="form-control form-control-sm" accept="image/*" required>
                    <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
                </form>
              </li>
                <li><hr class="dropdown-divider"></li>

              <li>
                <form action="/avatar?_method=DELETE" method="POST" onsubmit="return confirm('Remove profile picture?')">
                  <button class="dropdown-item text-danger" type="submit">Delete profile picture</button>
                </form>
              </li>

                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      <% } %>

    </div>
  </div>
</nav>
