<% layout('layouts/boilerplate') %>

<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="global-error p-4 rounded-4 text-center">
      <h1 class="fw-semibold display-6 display-md-5 display-lg-5 mb-5"><%= err.message %></h1>

      <div class="error-image-wrapper vh-70 d-flex align-items-center justify-content-center mb-5">
        <img src="/images/tent.svg" alt="Tent" class="error-img">
      </div>


    </div>
  </div>
</div>


