#cluster-map {
  width: 100vw;       
  max-width: 100vw;   
  margin-left: calc(-50vw + 50%);
  height: 600px; 
}
@media(max-width: 850px){
  #cluster-map{
    height: 450px; 
  }
}

#map {
    width: 100%;
    height: 300px;
}




/* ****** campground/index  ***** */

.card-index {
  background-color: #ffffff;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.card-index:hover {
  transform: scale(1.01);
  box-shadow: none;
}

/* Image Wrapper */
.campground-image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campground-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: transform 0.4s ease;
}

.campground-img:hover {
  transform: scale(1.03);
}

@media (max-width: 650px) {
  .campground-image-wrapper {
    height: 250px;
  }
}

#loadMoreBtn {
  font-weight: 500;
  transition: transform 0.2s ease;
}

#loadMoreBtn:hover {
text-decoration-line: none;
}



/* ****** campground/show  ***** */
.show-campground-image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showCampground{
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: transform 0.4s ease;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* turns the default white arrows dark */
}

.icon-del-btn {
  transition: color 0.2s ease, background-color 0.2s ease;
}
.icon-del-btn:hover {
  color: #a71d2a !important;
}

.icon-edit-btn {
  transition: color 0.2s ease, background-color 0.2s ease;
}
.icon-edit-btn:hover {
  color: #094fb9 !important;
}


/* ########## ############# FOOTER */
footer {
  background-color: #ffffff;
  color: #6c757d;
}

.footer-text {
  color: inherit;
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
}


/* ################################### SCROLLER */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #888; /*thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* lighter hover */
}

/*  Adjust for light mode */
body:not(.dark-mode)::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body:not(.dark-mode)::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}


/*################## Optional lowering top position  TOASTIFY*/
/* .toastify-top.toastify-right {
  top: 80px !important; 
} */






