body {
  background-color: #f8f9fa;
}

.card {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #dee2e6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* ############################ NAVBAR FOOTER */
footer {
  background-color: #ffffff;
  color: #6c757d;
}

.footer-text {
  color: inherit;
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
}

/* ########################### DARK MODE SWITCH */
.custom-switch {
  position: relative;
  width: 48px;
  height: 26px;
  background-color: #e9ecef;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  transition: background-color 0.3s ease;
}

.custom-switch .sun-icon,
.custom-switch .moon-icon {
  font-size: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* light mode */
.custom-switch .moon-icon {
  opacity: 0;
  color: #f8f400;
   text-shadow: 0 0px 3px rgba(201, 164, 0, 0.7);
}

/* When toggled */
#darkModeSwitch:checked + .custom-switch {
  background-color: #4e4e4e;
}

#darkModeSwitch:checked + .custom-switch .sun-icon {
  opacity: 0;

}

#darkModeSwitch:checked + .custom-switch .moon-icon {
  opacity: 1;

}



/* ####################### HOMEPAGE MAIN */
.hero-section {
  min-height: 90vh;
  background-color: #f8f9fa;
 
  overflow: hidden;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.hero-title {
  color: #212529;
  letter-spacing: 1px;
}

.hero-text {
  color: #6c757d;
  line-height: 1.7;
}

.hero-btn {
  border-color: #212529;
  color: #212529;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #212529;
  color: #ffffff;
  transform: translateY(-2px);
}


/* ############# --- DARK MODE --- */
body.dark-mode .hero-section {
  background-color: #121212;
}

body.dark-mode .hero-section::before {
  opacity: 0.1;
}

body.dark-mode .hero-title {
  color: #f5f6f7;
}

body.dark-mode .hero-text {
  color: #c9cbcf;
}

body.dark-mode .hero-btn {
  border-color: #e4e6eb;
  color: #e4e6eb;
}

body.dark-mode .hero-btn:hover {
  background-color: #e4e6eb;
  color: #18191A;
  transform: translateY(-2px);
}

/* ################################### SCROLLER */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #888; /*thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* lighter hover */
}

/*  Adjust for light mode */
body:not(.dark-mode)::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body:not(.dark-mode)::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}
