/* .notify {
  z-index: 9999 !important;
} */

.custom-dropdown {
  width: 280px !important; 
}

.navbar{
   background-color: #ffffff; 
}
.uploadAvatarImg{
width: 40px; 
height: 40px; 
object-fit: cover;
}

.logoNavbar{
width: 100px; 
height: 100px; 
object-fit: cover;
}

/* ####################### NAVBAR DARKMODE */
.navbar,
.navbar .nav-link,
.navbar .navbar-brand {
  transition: color 0.3s ease; 

}

body{
      transition: 0.5s ease;
}

  body.dark-mode {
    background-color: #121212 !important;
    color: #E4E6EB;
    transition: 0.5s ease;
  }

  body.dark-mode .footer,
  body.dark-mode .footer-text{
    background-color: #242526 !important;
    color: #aaa;
  }

body.dark-mode .tooltip .tooltip-inner {
  background-color: #e4e6eb;
  color: #18191a; 
  border: 1px solid #555;
}


  body.dark-mode .input-group-text{
    color: #18191A;
  }

  body.dark-mode .list-group, 
  body.dark-mode .list-group-item {
    background-color: #242526;
    color: #E4E6EB;
  }


  body.dark-mode .navbar, 
  body.dark-mode .navbar .nav-link,
  body.dark-mode .navbar .navbar-brand {
    background-color: #242526 !important;
    color: #E4E6EB !important;
  }

  body.dark-mode .navbar .nav-link.active,
  body.dark-mode .navbar .nav-link:hover,
  body.dark-mode .navbar .navbar-brand:hover {
    color: #ffffff !important; 
  }
  .nav-link:hover{
    color: #0d6efd !important;
  }

  body.dark-mode .card {
    background-color: #1f1f1f;
    color: #E4E6EB;
    box-shadow: 0 1px 8px rgba(172, 166, 166, 0.404);
  }

  body.dark-mode .btn-outline-primary {
    color: #E4E6EB;
    border-color: #3A3B3C;
  }
  body.dark-mode .forgot-password {
    color: #E4E6EB !important;
  
  }

  body.dark-mode .btn-outline-primary:hover {
    background-color: #3A3B3C;
  }


  /* ########################## Index campground Darkmode */
  body.dark-mode .text-muted {
    color: #B0B3B8 !important;
  }

  body.dark-mode small,
  body.dark-mode span {
    color: #E4E6EB;
  }

  /* ########################### NAVBAR TOGGLER */
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Base style custom toggler */
.custom-toggler {
  width: 26px;
  height: 30px;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* Bar hamburger */
.toggler-icon {
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #212529;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/*three bars Positioning */
.top-bar {
  top: 6px;
}
.middle-bar {
  top: 14px;
}
.bottom-bar {
  top: 22px;
}

/* If navbar is open */
.custom-toggler[aria-expanded="true"] .top-bar {
  transform: rotate(45deg);
  top: 14px;
  
}
.custom-toggler[aria-expanded="true"] .middle-bar {
  opacity: 0;
}
.custom-toggler[aria-expanded="true"] .bottom-bar {
  transform: rotate(-45deg);
  top: 14px;
}


/* Dark Mode Styles for toggling  */
body.dark-mode .toggler-icon {
  background-color: #e0e1e2;
}

body.dark-mode .custom-toggler {
  border-color: #b0b3b8;
}


body.dark-mode .mapbox-popup,
.mapbox-popup {
  background-color: #fff !important;
  color: #000 !important;
}

/* ########################### DARK MODE SWITCH */
.custom-switch {
  position: relative;
  width: 48px;
  height: 26px;
  background-color: #e9ecef;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  transition: background-color 0.3s ease;
  
}


.custom-switch .sun-icon,
.custom-switch .moon-icon {
  font-size: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Default light mode */
.custom-switch .moon-icon {
  opacity: 0;
  color: #fffb00;
   text-shadow: 0 0px 8px rgba(236, 193, 2, 0.7);
}

/* When toggled */
#darkModeSwitch:checked + .custom-switch {
  background-color: #4e4e4e;
}

#darkModeSwitch:checked + .custom-switch .sun-icon {
  opacity: 0;

}

#darkModeSwitch:checked + .custom-switch .moon-icon {
  opacity: 1;

}







