/* .notify {
  z-index: 9999 !important;
} */

.custom-dropdown {
  width: 280px !important; 
}

.navbar{
   background-color: #ffffff; 
}
.uploadAvatarImg{
width: 40px; 
height: 40px; 
object-fit: cover;
}

.logoNavbar{
width: 100px; 
height: 100px; 
object-fit: cover;
}

/* ####################### NAVBAR DARKMODE */
.navbar,
.navbar .nav-link,
.navbar .navbar-brand {
  transition: color 0.3s ease; 

}

body{
      transition: 0.5s ease;
}

  body.dark-mode {
    background-color: #121212 !important;
    color: #E4E6EB;
    transition: 0.5s ease;
  }

  body.dark-mode .footer,
  body.dark-mode .footer-text{
    background-color: #242526 !important;
    color: #aaa;
  }

body.dark-mode .tooltip .tooltip-inner {
  background-color: #e4e6eb;
  color: #18191a; 
  border: 1px solid #555;
}


  body.dark-mode .input-group-text{
    color: #18191A;
  }

  body.dark-mode .list-group, 
  body.dark-mode .list-group-item {
    background-color: #242526;
    color: #E4E6EB;
  }


  body.dark-mode .navbar, 
  body.dark-mode .navbar .nav-link,
  body.dark-mode .navbar .navbar-brand {
    background-color: #242526 !important;
    color: #E4E6EB !important;
  }

  body.dark-mode .navbar .nav-link.active,
  body.dark-mode .navbar .nav-link:hover,
  body.dark-mode .navbar .navbar-brand:hover {
    color: #ffffff !important; 
  }
  .nav-link:hover{
    color: #0d6efd !important;
  }

  body.dark-mode .card {
    background-color: #1f1f1f;
    color: #E4E6EB;
    box-shadow: 0 1px 8px rgba(172, 166, 166, 0.404);
  }

  body.dark-mode .btn-outline-primary {
    color: #E4E6EB;
    border-color: #3A3B3C;
  }
  body.dark-mode .forgot-password {
    color: #E4E6EB !important;
  
  }

  body.dark-mode .btn-outline-primary:hover {
    background-color: #3A3B3C;
  }


  /* ########################## Index campground Darkmode */
  body.dark-mode .text-muted {
    color: #B0B3B8 !important;
  }

  body.dark-mode small,
  body.dark-mode span {
    color: #E4E6EB;
  }


body.dark-mode .navbar-toggler {
  border-color: #B0B3B8; 
}

body.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(224, 225, 226, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body.dark-mode .mapbox-popup,
.mapbox-popup {
  background-color: #fff !important;
  color: #000 !important;
}

/* ########################### DARK MODE SWITCH */
.custom-switch {
  position: relative;
  width: 48px;
  height: 26px;
  background-color: #e9ecef;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  transition: background-color 0.3s ease;
  
}


.custom-switch .sun-icon,
.custom-switch .moon-icon {
  font-size: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Default light mode */
.custom-switch .moon-icon {
  opacity: 0;
  color: #fffb00;
   text-shadow: 0 0px 8px rgba(236, 193, 2, 0.7);
}

/* When toggled */
#darkModeSwitch:checked + .custom-switch {
  background-color: #4e4e4e;
}

#darkModeSwitch:checked + .custom-switch .sun-icon {
  opacity: 0;

}

#darkModeSwitch:checked + .custom-switch .moon-icon {
  opacity: 1;

}







