<% layout('layouts/boilerplate') %>
<!-- <h1>LOGIN</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" id="username" name="username" required>
      <div class="invalid-feedback">
        Please provide a location.
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
      <div class="invalid-feedback">
        Please provide a location.
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
  </div>
    <button class="btn btn-success">LOGIN</button>
</form> -->

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center">
      <!-- mx-auto automatic horizontal margins -->
        <div class="col-md-8 col-xl-4"> 
            <div class="card shadow">
                <img src="/images/starry-sky-2285950_1280.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>