<% layout('layouts/boilerplate') %>

  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-xl-5">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Reset Password</h5>

          <form action="/verify-otp" method="POST">
            <div class="mb-3">
              <label for="otp">Enter OTP</label>
              <input type="text" name="otp" id="otp" class="form-control" required>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

